*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
padding:20px;
}

button,
input{
padding:10px;
}

:focus{
outline:3px solid royalblue;
outline-offset:3px;
}

.gallery{
text-align:center;
}

.gallery img{
width:500px;
max-width:100%;
border-radius:10px;
}

.command-palette{
position:fixed;
inset:0;
background:rgba(0,0,0,.5);
display:none;
justify-content:center;
align-items:flex-start;
padding-top:100px;
}

.command-box{
width:500px;
background:white;
padding:20px;
border-radius:10px;
}

.command-list div{
padding:10px;
cursor:pointer;
}

.command-list div:hover

.modal{
position:fixed;
inset:0;
background:rgba(0,0,0,.6);
display:flex;
justify-content:center;
align-items:center;
}

.modal-content{
background:white;
padding:20px;
border-radius:10px;
}
